{{>layout/header}}
<div class="container">
    <h1>스프링 부트 게시판 Ver.2</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    Logged in as : <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
<!--            <div class="form-group col-md-2">-->
            <!--                <select class="form-select" id="option-box" aria-label="Default select example">-->
            <!--                    <option value="title" selected>제목</option>-->
            <!--                    <option value="content">내용</option>-->
            <!--                    <option value="author">작성자</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                    <div class="btn-group" role="group" aria-label="Basic example">-->
<!--                        <input name="keyword" id="keyword" type="text" placeholder="검색어를 입력해주세요">-->
<!--                        <button class="btn btn-secondary" id="search-posts">검색</button>-->
<!--                    </div>-->
<!--            </div>-->
        </div>
        <br>
        <!--목록 영역-->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
<!--        <ul class="pagination justify-content-center">-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="/?page=">Previous</a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="?page=">Next</a>-->
<!--            </li>-->
<!--        </ul>-->
    </div>
</div>
{{>layout/footer}}
